@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$desktop: 1440px;
$tablet: 1024px;
$mobile: 360px;
$primary: #18C576;
$primary-darken: #18C576;
$background: #eeeeee;
$discount-pink: #FF5BC6;
$daily: #FFA726;
$sale: #39B0F4;
$hit: #AC59F1;
$white: #ffffff;
$graphite: #444444;
$black: #000000;